* {
    text-decoration: none;
}



h1 {
    text-align: center;
}



.folder {

  font-size:20px;
  border: 1px solid black;
 
  text-align: center;
  padding:10px;
  color:black;
  margin:10px
  

}

.content {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
 
    
}

h2 {
    font-size:32px;
    margin-top:10px;
    margin-bottom:10px;
    
}

.folder-heading {
    margin: 10%;
    padding: 10px;
    width: 222px;
    text-align: center;
    font-size:40px;
 


}
.active {
    background-color:lightcoral;
    text-decoration:none;

}
button a {
    color:white;
}

.main {
    overflow:auto;
    height:100vh;
}
.sidebar-button, .main-button {
  background-color:purple;  
  cursor:pointer;
  font-size:20px;
  border: 1px solid black;
  text-align: center;
  padding:10px;
  color:white;
  margin:10px
  
}

.note-body {
    width:700px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    left: auto;

}


.note-title-date {
    border:1px solid black;
    padding:10px;
    color:black;
    margin:10px;
    width:300px;

}
.delete-button {
  font-size:16px;
  background-color:red;

  text-align: center;
  padding:5px;
  color:white;;
  margin-left:70%;
  
}

.note-sidebar {
   font-size:35px;
   width: 100%;
   text-align:center;
}

button.folder {
    width:222px;
}


.sidebar {
    display:flex;
    flex-direction:column;
    margin-left:10%;
}

@media(max-width: 630px) {
    .content{
        flex-direction:column;
        align-items:center;
    }
    .main {
        display:flex;
        align-items:center;
        flex-direction:column;
        overflow:visible;
    }
    .title {
        text-align:center;
    }
    .sidebar {
        margin-left:0px;
        
    }
    .folder-heading {
        margin-left:0px;
        font-size:20px;
    }
}