* {
    text-decoration: none;
}



h1 {
    text-align: center;
}



.folder {

  font-size:30px;
  border: 1px solid black;
  width:200px;
  text-align: center;
  padding:10px;
  color:black;
  margin:10px
  

}

.content {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

h2 {
    font-size:40px;
}

.folder-heading {
    margin: 10%;
    padding: 10px;
    width: 222px;
    text-align: center;
    font-size:40px;
 


}

.sidebar-button, .main-button {
  font-size:30px;
  border: 1px solid black;
  width:222px;
  text-align: center;
  padding:10px;
  color:black;
  margin:10px
  
}

.note-body {
    width:700px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    left: auto;

}

.note-title-date {
    border:1px solid black;
    padding:10px;
    color:black;
    margin:10px;
    width:500px;

}
.delete-button {
  font-size:20px;
  background-color:red;
  width:100px;
  text-align: center;
  padding:10px;
  color:white;;
  margin-left:65px;
  
}

.note-sidebar {
   font-size:35px;
   width: 100%;
   text-align:center;
}

button.folder {
    width:222px;
}


.sidebar {
    display:flex;
    flex-direction:column;
    margin-left:10%;
}